{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta 
        name="index-description" 
        content="Phulkari, Punjabi Phulkaris, About Phulkari, 
            About Phulkari World. Developer: Sugandhi,
            The folk embroidery of the punjab, traditional and contemporary fashion, 
            ancient embroidery technique, womens clothing, accessories, 
            Phulkari Suits, Dupattas, juttis, purses, jewelry, kurtis, Suits, 
            Phulkari Dupattas, Phulkari juttis, Phulkari purses, Phulkari jewelry, Phulkari kurtis,
            Phulkari Suits,  Hand-Embroidered Kurtis, Vibrant Dupattas,    Traditional Punjabi Attire,
            Colorful Textiles,   Ethnic Fashion,  Artisanal Embroidery,    Cultural Heritage,
            Punjab Folk Art, Intricate Stitching, Handwoven Fabrics,   Custom Phulkari Designs,
            Unique Patterns, Contemporary Phulkari,   Fashion Accessories, Juttis and Purses,
            Phulkari Jewelry,    Boho Chic Style, Indian Ethnic Wear,  Sustainable Fashion,
            Handcrafted Beauty,  Colorful Threads,    Patiala Salwar,  Chanderi Silk,
            Punjabi Wedding Attire,  Fusion Fashion,  Bridal Phulkari, Online Phulkari Store,
            Cultural Revival,    Fashionable Dupatta, Draping Punjab-inspired, Jewelry Phulkari Blouses,
            Trendy Kurti Designs,    Bohemian Accessories,    Handmade Elegance,   Punjab Craftsmanship,
            Colorful Embellishments, Phulkari Fashion Trends, Artisan-made Jewelry,    Patiala Salwar Sets,
            Punjabi Festive Wear,   Vintage Phulkari,    Handwoven Textiles,  Cultural Expression,
            Phulkari Silk Scarves,   Embroidered Clutches,    Punjabi Jewelry Sets,    Boho Wedding Accessories,
            Phulkari Fashion Blog,   Punjab-inspired Lifestyl"
    >
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-10 col-md-10 my-auto">
            <h1 class="display-4 logo-font text-black logo-qoute-opacity p-3">
                <span><strong>Phulkari!</strong></span><br> The folk embroidery of the Punjab. 
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}