{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4 text-center">Frequently asked questions!</h2>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="accordion" id="accordionContact">
                    {% for faq in faqs %}
                    <div class="card">
                        <div class="card-header" id="contact{{ forloop.counter }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-dark font-weight-bold"
                                    type="button" data-toggle="collapse" data-target="#collapseContact{{ forloop.counter }}" 
                                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                    aria-controls="collapseContact">
                                    {{ faq.query }}
                                </button>
                            </h2>
                        </div>
                        <div id="collapseContact{{ forloop.counter }}" class="collapse" aria-labelledby="contact{{ forloop.counter }}"
                            data-parent="#accordionContact">
                            <div class="card-body">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}