{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4 text-center">Frequently asked questions!</h2>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="accordion" id="accordionContact">
                    <div class="card">
                        <div class="card-header" id="contactOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-dark font-weight-bold"
                                    type="button" data-toggle="collapse" data-target="#collapseContactOne" aria-expanded="true"
                                    aria-controls="collapseContactOne">
                                    How do I track my delivery?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseContactOne" class="collapse show" aria-labelledby="contactOne"
                            data-parent="#accordionContact">
                            <div class="card-body">
                                You will receive the tracking number on your email. Just copy it and paste on the
                                parcel's tracking website
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="contactTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block collapsed text-dark font-weight-bold"
                                    type="button" data-toggle="collapse" data-target="#collapseContactTwo"
                                    aria-expanded="false" aria-controls="collapseContactTwo">
                                    How long will my delivery take?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseContactTwo" class="collapse" aria-labelledby="contactTwo"
                            data-parent="#accordionContact">
                            <div class="card-body">
                                Usually delivered within 4 working days 8am - 9pm. Free when you spend $50 or more.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="contactThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block collapsed text-dark font-weight-bold"
                                    type="button" data-toggle="collapse" data-target="#collapseContactThree"
                                    aria-expanded="false" aria-controls="collapseContactThree">
                                    Do you offer any discounts or coupons?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseContactThree" class="collapse" aria-labelledby="contactThree"
                            data-parent="#accordionContact">
                            <div class="card-body">
                                We have some special offers and cupons from time to time. If you would like to
                                receive a notification about it, don't forget to subscribe on our newsletter!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}